@using EGuidebook.Models
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Zmiana hasła";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-wrapper">
    <div class="row" style="background-color: rgba(0,0,0,0);">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-2"></div>
            <div class="col-md-8 login-sub-wrapper" style="float: left; max-width: 2000px;">
                <div class="col-md-12" style="padding-top: 20px;">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <h3 class="login-header">Zmiana hasła</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.Username, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.Username, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.TempPassword, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(x => x.TempPassword, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.TempPassword, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.NewPassword, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.NewPasswordRepeat, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(x => x.NewPasswordRepeat, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.NewPasswordRepeat, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button class="btn btn-warning btn-sm" style="width: 100%;">
                                <b>Zmień hasło</b>
                            </button>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="col-md-2"></div>
        }
    </div>
</div>
