@using EGuidebook.Models
@using EGuidebook.Shared
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section scripts {
    <script>
        @{ 
            if(("" + TempData["ShowResetPasswordAlert"]).Equals("true"))
            {
                <text>
                    jQuery(document).ready(function () {
                        showAlert('#alert-password-reset', 4000);
                    });
                </text>
            }
        }

        jQuery('#link-reset-pass').on('click', function () {
            jQuery('#row-reset-password').show();
            jQuery(this).hide();
        });
    </script>
}

@Html.Partial(Helper.AlertBoxPath, new AlertBoxViewModel("alert-password-reset", "Hasło resetujące zostało wysłane na Twój adres e-mail", EnumAlertBoxViewModel.INFO))

<div class="login-wrapper">
    <div class="row" style="background-color: rgba(0,0,0,0);">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6 login-sub-wrapper" style="float: left;">
                <div class="col-md-12" style="padding-top: 20px;">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <h3 class="login-header">Logowanie</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.LoginEmail, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.LoginEmail, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.LoginEmail, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.LoginPassword, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(x => x.LoginPassword, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.LoginPassword, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button class="btn btn-warning btn-sm" style="width: 100%;">
                                <b>Zaloguj</b>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9" style="text-align: center;">
                            <a id="link-reset-pass" class="white-anchor" style="@(TempData["ShowResetPasswordRow"] != null && Convert.ToBoolean(TempData["ShowResetPasswordRow"]) ? "display: none;" : "")">Przypomnij hasło</a>
                        </div>
                    </div>
                </div>
            </div>        
        }
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6 login-sub-wrapper" style="float: right;">
                <div class="col-md-12" style="padding-top: 20px;">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <h3 class="login-header">Rejestracja</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.RegisterEmail, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.RegisterEmail, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.RegisterEmail, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.RegisterPassword, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(x => x.RegisterPassword, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.RegisterPassword, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.RegisterPasswordRepeat, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(x => x.RegisterPasswordRepeat, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.RegisterPasswordRepeat, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button class="btn btn-warning btn-sm" style="width: 100%;">
                                <b>Zarejestruj</b>
                            </button>
                        </div>
                    </div>                
                </div>
            </div>
        }
    </div>
    <div id="row-reset-password" class="row" style="background-color: rgba(0,0,0,0); padding-top: 30px; @(TempData["ShowResetPasswordRow"] != null && Convert.ToBoolean(TempData["ShowResetPasswordRow"]) ? "" : "display: none;")">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6 login-sub-wrapper" style="float: left; min-height: 155px !important;">
                <div class="col-md-12" style="padding-top: 20px;">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <h3 class="login-header">Resetowanie hasła</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.PasswordResetEmail, new { @style = "float: left; line-height: 26px; color: #CCC;" })
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.PasswordResetEmail, new { @class = "form-control", @style = "float: right;" })
                            @Html.ValidationMessageFor(x => x.PasswordResetEmail, "", new { @class = "error-msg" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button class="btn btn-warning btn-sm" style="width: 100%;">
                                <b>Przypomnij hasło</b>
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        }
     </div>
</div>
