@using EGuidebook.Shared
@using EGuidebook.Models
@model List<SpotViewModel>
@{
    ViewBag.Title = "Lista miejsc";
    ViewBag.IconClass = "fa fa-university";
    Layout = Helper.AdminLayoutPath;
    ViewBag.MenuItem = Helper.EnumSelectedMenuItem.SPOTS;
}

<div class="row">
    <div class="col-md-12">
        <table class="data-table table table-striped table-bordered" width="100%" cellspacing="0" style="border: 0;">
            <thead>
                <tr>
                    <th style="width: 15%;">Nazwa</th>
                    <th style="width: 30%;">Opis</th>
                    <th style="width: 15%;">Współrzędne</th>
                    <th style="width: 30%">Zatwierdzono</th>                    
                    <th style="width: 10%">Edycja</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (SpotViewModel objSpotViewModel in Model)
                    {
                        <tr>
                            <td>@objSpotViewModel.Name</td>
                            <td>@objSpotViewModel.Description</td>
                            <td>X:@objSpotViewModel.CoorX<br/>Y:@objSpotViewModel.CoorY</td>
                            <td>
                                <input type="checkbox" @(objSpotViewModel.IsApproved ? "checked=\"checked\"" : "") disabled />
                                @{ 
                                    if(objSpotViewModel.ApprovedBy != null && objSpotViewModel.ApprovalDate.HasValue)
                                    {
                                        <img style="height: 24px; width: 24px;" src="@(Helper.CheckIfFileExists(objSpotViewModel.ApprovedBy.AvatarImagePath) ? objSpotViewModel.ApprovedBy.AvatarImagePath : Helper.NoPhotoImgPath)" />
                                        @("nbsp;" + objSpotViewModel.ApprovedBy.FirstName + " " + objSpotViewModel.ApprovedBy.LastName) 
                                        <br/>@objSpotViewModel.ApprovalDate.Value.ToString(new System.Globalization.CultureInfo("pl-PL"))
                                    }
                                }
                            </td>
                            <td style="text-align: center;">
                                <a href="/Spot/Edit/@objSpotViewModel.SpotID" class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>&nbsp;Edycja
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Współrzędne</th>
                    <th data-no-filter="true">Zatwierdzono</th>   
                    <th data-no-filter="true"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row" style="padding-top: 10px;">
    <div class="col-md-12">
        <a class="btn btn-warning btn-md pull-right" href="/Spot/Create"><i class="fa fa-plus"></i>&nbsp;Nowe miejsce</a>
    </div>
</div>